# Compiled class file
*.class

# Log file
*.log
log.*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# targets and created dirs
target
target/*
dependency-reduced-pom.xml
effective.pom
.classpath
.project
.settings/
enforcer.pom

# db
db
mainnet.log
mainnetdb
testnet.log
testnetdb
spent-addresses-db
spent-addresses-log
*.snapshot.meta
*.snapshot.state
*.snapshot.meta.bkp
*.snapshot.state.bkp

# modules
XI
XI/*
modules
modules/*

# ide
*.iml
.idea

# conf
*.ini

# keys
*.key
*.pem

# os
.DS_Store